{% extends 'base.html' %}
{% block content %}
<div class="text-center align-middle">
    <svg id="i-alert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="128" height="128" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M16 3 L30 29 2 29 Z M16 11 L16 19 M16 23 L16 25" />
    </svg>
    <h1 class="display-1 mt-5">Oops!</h1>
    <h2 class="display-3">404 Not Found</h2>
    <div class="text-danger">Sorry, an error has occured, Requested page not found!</div>
</div>
{% endblock %}